DATABASE_URL="file:./dev.db"
# For Postgres switch to: postgresql://user:pass@host:5432/db?schema=public

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace_with_openssl_rand_base64_32"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
